* {
  box-sizing: border-box;
}
.header {
  background-color: #282c34;
  color: white;
  text-align: center;
  padding: 1rem;;
}
.sub-header {
  background: #afe7e9;
  border-bottom: #8a8e8f;
}
.auth-box {
  border: 1px solid #282c34;
  padding: 1rem;
  max-width: 400px;
  margin: 2rem auto;
}
.auth-box input, .auth-box button {
  display: block;
  margin-bottom: 0.5rem;
  width: 100%;
  height: 2rem;
}
.auth-box button {
  margin: 1rem 0;
}
.btn-link {
  color: #0686aa;
  text-decoration: underline;
  border: none;
  background: none;
  outline: none !important;
  cursor: pointer;
}
.btn-link:hover {
  text-decoration: none;
}
main {
  margin: 0 auto;
  max-width: 30rem;
}

